
  
  
      <style>
        @font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-486269636757685463 .invisible{visibility:hidden}.gps-486269636757685463 .absolute{position:absolute}.gps-486269636757685463 .relative{position:relative}.gps-486269636757685463 .inset-0{inset:0}.gps-486269636757685463 .left-\[var\(--left\)\]{left:var(--left)}.gps-486269636757685463 .top-\[var\(--top\)\]{top:var(--top)}.gps-486269636757685463 .z-1{z-index:1}.gps-486269636757685463 .mx-auto{margin-left:auto;margin-right:auto}.gps-486269636757685463 .mb-0{margin-bottom:0}.gps-486269636757685463 .flex{display:flex}.gps-486269636757685463 .inline-flex{display:inline-flex}.gps-486269636757685463 .grid{display:grid}.gps-486269636757685463 .h-5{height:20px}.gps-486269636757685463 .h-full{height:100%}.gps-486269636757685463 .w-5{width:20px}.gps-486269636757685463 .w-full{width:100%}.gps-486269636757685463 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-486269636757685463 .animate-spin{animation:spin 1s linear infinite}.gps-486269636757685463 .flex-col{flex-direction:column}.gps-486269636757685463 .\!content-center{align-content:center!important}.gps-486269636757685463 .items-center{align-items:center}.gps-486269636757685463 .justify-center{justify-content:center}.gps-486269636757685463 .gap-y-0{row-gap:0}.gps-486269636757685463 .self-center{align-self:center}.gps-486269636757685463 .overflow-hidden{overflow:hidden}.gps-486269636757685463 .break-words{overflow-wrap:break-word}.gps-486269636757685463 .rounded-none{border-radius:0}.gps-486269636757685463 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-486269636757685463 .no-underline{text-decoration-line:none}.gps-486269636757685463 .opacity-25{opacity:.25}.gps-486269636757685463 .opacity-75{opacity:.75}.gps-486269636757685463 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486269636757685463 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486269636757685463 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486269636757685463 .duration-200{transition-duration:.2s}.gps-486269636757685463 .duration-300{transition-duration:.3s}.gps-486269636757685463 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486269636757685463 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-486269636757685463 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}}.gps-486269636757685463 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-486269636757685463 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-486269636757685463 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-486269636757685463 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-486269636757685463 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-486269636757685463 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-486269636757685463 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-486269636757685463 .\[\&_p\]\:inline p{display:inline}.gps-486269636757685463 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-486269636757685463 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-486269636757685463 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gmUDNN-r2A"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:63px;--pt-tablet:63px;--pb-tablet:63px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmUDNN-r2A mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLqbKD6L_3 relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":450,"src":"https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":450,"src":"https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":450,"src":"https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g11OXBhrGF"}'
      
      class="g11OXBhrGF group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--d:flex;--d-mobile:flex;--d-tablet:flex;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col overflow-hidden  justify-center"
        style=""
      >
        <div 
          class="overflow-hidden w-full h-full"
          style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip:rect(0, auto, auto, 0)">
          <div
            aria-label="Background Image"
            role="banner"
            class="gp-hero-banner-bg absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center"
            style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/);--bgi-tablet:url(https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/);--bgi-mobile:url(https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:1.1;--top:0;--left:0;--pos:absolute;--bga:scroll;--pos-tablet:absolute;--bga-tablet:scroll;--pos-mobile:absolute;--bga-mobile:scroll"
          > </div>
        </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#121212;--top:0;--left:0;--op:0"
        > </div>
        
        
      
      
    <div
      id
        style="--pt:0px;--pb:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="!content-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9DdX-Drhl relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gTIXSqJSVj"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:930px;--w-tablet:930px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTIXSqJSVj mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYHUMgm-xr relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gi1EDO1C7t "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:96px;--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word"
        >
        <p>Time to make your hair shine!</p>
        </div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)" class="gQc2zHnALb ">
      
    <div
      parentTag="Col"
        class="gQc2zHnALb "
        style="--tt:default;--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:400;--ls:normal;--lh:130%;--size:51px;--size-tablet:51px;--size-mobile:44px;word-break:break-word"
        >
        <p>Only on Black Friday<br>Premium haircare at the best price ever</p>
        </h2>
      </div>
    </div>
      </div><div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:96px;--ta:center"
    class=""
  >
    <style>
    .ghyO3YHLoy.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 99px;
      border-bottom-right-radius: 99px;
      border-top-left-radius: 99px;
      border-top-right-radius: 99px;
      
    }

    .ghyO3YHLoy:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="ghyO3YHLoy" aria-label="Get deal now"
      data-state="idle"
      class="ghyO3YHLoy gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-bg-3 text-g-bg-3"
      style="--hvr-bg:var(--g-c-bg-3, bg-3);--bg:#F4963F;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--hvr-c:#242424;--c:var(--g-c-bg-3, bg-3);--pl:78px;--pr:78px;--pt:16px;--pb:16px;--pl-tablet:78px;--pr-tablet:78px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:84px;--pr-mobile:84px;--pt-mobile:16px;--pb-mobile:16px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--size:21px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size-tablet:19px;--lh-tablet:150%;--size-mobile:19px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Get deal now
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 18",
    "tag": "section",
    "class": "gps-486269636757685463 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486269636757685463&template_id=482463146242475100)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
