
  
  
      <style>
        @font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/russoone/v16/Z9XUDmZRWg6M1LvRYsHOz8mP.woff) format('woff');
}
/* cyrillic */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/russoone/v16/Z9XUDmZRWg6M1LvRYsHOy8mJvLuL9BLT.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/russoone/v16/Z9XUDmZRWg6M1LvRYsHOwcmJvLuL9BLT.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/russoone/v16/Z9XUDmZRWg6M1LvRYsHOz8mJvLuL9A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-486263458497561521 .-translate-x-full,.gps-486263458497561521 .-translate-y-1\/2,.gps-486263458497561521 .mobile\:-translate-y-1\/2,.gps-486263458497561521 .mobile\:rotate-0,.gps-486263458497561521 .mobile\:rotate-180,.gps-486263458497561521 .mobile\:translate-x-0,.gps-486263458497561521 .mobile\:translate-y-1\/2,.gps-486263458497561521 .rotate-0,.gps-486263458497561521 .rotate-180,.gps-486263458497561521 .tablet\:-translate-y-1\/2,.gps-486263458497561521 .tablet\:rotate-0,.gps-486263458497561521 .tablet\:rotate-180,.gps-486263458497561521 .tablet\:translate-x-0,.gps-486263458497561521 .tablet\:translate-y-1\/2,.gps-486263458497561521 .translate-x-full,.gps-486263458497561521 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-486263458497561521 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-486263458497561521 .btn-disabled{cursor:default}.gps-486263458497561521 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-486263458497561521 .pointer-events-none{pointer-events:none}.gps-486263458497561521 .pointer-events-auto{pointer-events:auto}.gps-486263458497561521 .invisible{visibility:hidden}.gps-486263458497561521 .absolute{position:absolute}.gps-486263458497561521 .relative{position:relative}.gps-486263458497561521 .inset-0{inset:0}.gps-486263458497561521 .bottom-0{bottom:0}.gps-486263458497561521 .bottom-1\/2{bottom:50%}.gps-486263458497561521 .left-1{left:4px}.gps-486263458497561521 .left-4{left:16px}.gps-486263458497561521 .right-0{right:0}.gps-486263458497561521 .right-1{right:4px}.gps-486263458497561521 .right-4{right:16px}.gps-486263458497561521 .top-1\/2{top:50%}.gps-486263458497561521 .z-9{z-index:9}.gps-486263458497561521 .z-\[90\]{z-index:90}.gps-486263458497561521 .mx-auto{margin-left:auto;margin-right:auto}.gps-486263458497561521 .my-0{margin-bottom:0;margin-top:0}.gps-486263458497561521 .mb-0{margin-bottom:0}.gps-486263458497561521 .mt-2{margin-top:8px}.gps-486263458497561521 .block{display:block}.gps-486263458497561521 .inline-block{display:inline-block}.gps-486263458497561521 .flex{display:flex}.gps-486263458497561521 .inline-flex{display:inline-flex}.gps-486263458497561521 .grid{display:grid}.gps-486263458497561521 .contents{display:contents}.gps-486263458497561521 .\!hidden{display:none!important}.gps-486263458497561521 .hidden{display:none}.gps-486263458497561521 .aspect-square{aspect-ratio:1/1}.gps-486263458497561521 .h-5{height:20px}.gps-486263458497561521 .h-6{height:24px}.gps-486263458497561521 .h-fit{height:-moz-fit-content;height:fit-content}.gps-486263458497561521 .h-full{height:100%}.gps-486263458497561521 .w-5{width:20px}.gps-486263458497561521 .w-6{width:24px}.gps-486263458497561521 .w-\[12px\]{width:12px}.gps-486263458497561521 .w-full{width:100%}.gps-486263458497561521 .w-max{width:-moz-max-content;width:max-content}.gps-486263458497561521 .min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-486263458497561521 .\!max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-486263458497561521 .max-w-full{max-width:100%}.gps-486263458497561521 .flex-1{flex:1 1 0%}.gps-486263458497561521 .flex-none{flex:none}.gps-486263458497561521 .-translate-x-full{--tw-translate-x:-100%}.gps-486263458497561521 .-translate-x-full,.gps-486263458497561521 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-486263458497561521 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-486263458497561521 .translate-x-full{--tw-translate-x:100%}.gps-486263458497561521 .translate-x-full,.gps-486263458497561521 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-486263458497561521 .translate-y-1\/2{--tw-translate-y:50%}.gps-486263458497561521 .rotate-0{--tw-rotate:0deg}.gps-486263458497561521 .rotate-0,.gps-486263458497561521 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-486263458497561521 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-486263458497561521 .animate-spin{animation:spin 1s linear infinite}.gps-486263458497561521 .cursor-pointer{cursor:pointer}.gps-486263458497561521 .flex-row{flex-direction:row}.gps-486263458497561521 .flex-col{flex-direction:column}.gps-486263458497561521 .flex-wrap{flex-wrap:wrap}.gps-486263458497561521 .items-start{align-items:flex-start}.gps-486263458497561521 .items-end{align-items:flex-end}.gps-486263458497561521 .items-center{align-items:center}.gps-486263458497561521 .justify-start{justify-content:flex-start}.gps-486263458497561521 .\!justify-center{justify-content:center!important}.gps-486263458497561521 .justify-center{justify-content:center}.gps-486263458497561521 .gap-2{gap:8px}.gps-486263458497561521 .gap-3{gap:12px}.gps-486263458497561521 .gap-y-0{row-gap:0}.gps-486263458497561521 .overflow-hidden{overflow:hidden}.gps-486263458497561521 .overflow-clip{overflow:clip}.gps-486263458497561521 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-486263458497561521 .rounded-full{border-radius:9999px}.gps-486263458497561521 .rounded-none{border-radius:0}.gps-486263458497561521 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-486263458497561521 .p-\[1px\]{padding:1px}.gps-486263458497561521 .pb-1{padding-bottom:4px}.gps-486263458497561521 .pr-1{padding-right:4px}.gps-486263458497561521 .text-center{text-align:center}.gps-486263458497561521 .align-middle{vertical-align:middle}.gps-486263458497561521 .leading-\[0\]{line-height:0}.gps-486263458497561521 .text-g-text-3{color:var(--g-c-text-3)}.gps-486263458497561521 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-486263458497561521 .line-through{text-decoration-line:line-through}.gps-486263458497561521 .no-underline{text-decoration-line:none}.gps-486263458497561521 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-486263458497561521 .opacity-0{opacity:0}.gps-486263458497561521 .opacity-25{opacity:.25}.gps-486263458497561521 .opacity-30{opacity:.3}.gps-486263458497561521 .opacity-75{opacity:.75}.gps-486263458497561521 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-486263458497561521 .outline{outline-style:solid}.gps-486263458497561521 .outline-1{outline-width:1px}.gps-486263458497561521 .-outline-offset-1{outline-offset:-1px}.gps-486263458497561521 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486263458497561521 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486263458497561521 .duration-100{transition-duration:.1s}.gps-486263458497561521 .duration-200{transition-duration:.2s}.gps-486263458497561521 .duration-300{transition-duration:.3s}.gps-486263458497561521 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486263458497561521 .disabled\:btn-disabled:disabled{cursor:default}.gps-486263458497561521 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-486263458497561521 .disabled\:cursor-default:disabled{cursor:default}.gps-486263458497561521 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-486263458497561521 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-486263458497561521 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-486263458497561521 .data-\[disabled\=true\]\:hidden[data-disabled=true]{display:none}.gps-486263458497561521 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-486263458497561521 .data-\[hidden\=true\]\:hidden[data-hidden=true]{display:none}.gps-486263458497561521 .data-\[outline\=active\]\:p-\[1px\][data-outline=active]{padding:1px}.gps-486263458497561521 .data-\[outline\=active\]\:outline[data-outline=active]{outline-style:solid}.gps-486263458497561521 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-486263458497561521 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-486263458497561521 .scrollbar-thumb\:rounded-2xl::-webkit-scrollbar-thumb,.gps-486263458497561521 .scrollbar-track\:rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-486263458497561521 .scrollbar-thumb\:bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-486263458497561521 .tablet\:-left-4{left:-16px}.gps-486263458497561521 .tablet\:-right-4{right:-16px}.gps-486263458497561521 .tablet\:bottom-1\/2{bottom:50%}.gps-486263458497561521 .tablet\:left-4{left:16px}.gps-486263458497561521 .tablet\:right-4{right:16px}.gps-486263458497561521 .tablet\:top-1\/2{top:50%}.gps-486263458497561521 .tablet\:mx-auto{margin-left:auto;margin-right:auto}.gps-486263458497561521 .tablet\:mt-2{margin-top:8px}.gps-486263458497561521 .tablet\:block{display:block}.gps-486263458497561521 .tablet\:\!inline{display:inline!important}.gps-486263458497561521 .tablet\:\!flex{display:flex!important}.gps-486263458497561521 .tablet\:\!hidden{display:none!important}.gps-486263458497561521 .tablet\:hidden{display:none}.gps-486263458497561521 .tablet\:w-full{width:100%}.gps-486263458497561521 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-486263458497561521 .tablet\:-translate-y-1\/2,.gps-486263458497561521 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-486263458497561521 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-486263458497561521 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-486263458497561521 .tablet\:rotate-0,.gps-486263458497561521 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-486263458497561521 .tablet\:rotate-0{--tw-rotate:0deg}.gps-486263458497561521 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-486263458497561521 .tablet\:flex-row{flex-direction:row}.gps-486263458497561521 .tablet\:flex-col{flex-direction:column}.gps-486263458497561521 .tablet\:\!justify-center{justify-content:center!important}.gps-486263458497561521 .tablet\:justify-center{justify-content:center}.gps-486263458497561521 .tablet\:px-0{padding-left:0;padding-right:0}.gps-486263458497561521 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-486263458497561521 .mobile\:-left-4{left:-16px}.gps-486263458497561521 .mobile\:-right-4{right:-16px}.gps-486263458497561521 .mobile\:bottom-1\/2{bottom:50%}.gps-486263458497561521 .mobile\:left-4{left:16px}.gps-486263458497561521 .mobile\:right-4{right:16px}.gps-486263458497561521 .mobile\:top-1\/2{top:50%}.gps-486263458497561521 .mobile\:mx-auto{margin-left:auto;margin-right:auto}.gps-486263458497561521 .mobile\:mt-2{margin-top:8px}.gps-486263458497561521 .mobile\:block{display:block}.gps-486263458497561521 .mobile\:\!inline{display:inline!important}.gps-486263458497561521 .mobile\:\!hidden{display:none!important}.gps-486263458497561521 .mobile\:hidden{display:none}.gps-486263458497561521 .mobile\:w-full{width:100%}.gps-486263458497561521 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-486263458497561521 .mobile\:-translate-y-1\/2,.gps-486263458497561521 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-486263458497561521 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-486263458497561521 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-486263458497561521 .mobile\:rotate-0,.gps-486263458497561521 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-486263458497561521 .mobile\:rotate-0{--tw-rotate:0deg}.gps-486263458497561521 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-486263458497561521 .mobile\:flex-row{flex-direction:row}.gps-486263458497561521 .mobile\:flex-col{flex-direction:column}.gps-486263458497561521 .mobile\:\!justify-center{justify-content:center!important}.gps-486263458497561521 .mobile\:justify-center{justify-content:center}.gps-486263458497561521 .mobile\:px-0{padding-left:0;padding-right:0}.gps-486263458497561521 .mobile\:pl-1{padding-left:4px}}.gps-486263458497561521 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-486263458497561521 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-486263458497561521 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-486263458497561521 .\[\&_p\]\:inline p{display:inline}.gps-486263458497561521 .\[\&_p\]\:truncate p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-486263458497561521 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-486263458497561521 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gEmZ5gvymt"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEmZ5gvymt mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmnqu_ezZ5 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gaAE-km15G"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaAE-km15G mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsuuz3np9c relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)" class="gTVbBQ6Y0H ">
      
    <div
      parentTag="Col"
        class="gTVbBQ6Y0H  overflow-clip"
        style="--tt:default;--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Russo-One, Russo One);--weight:400;--ls:normal;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:29px;word-break:break-word"
        >
        <p>BLACK FRIDAY’S TOP DEALS</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gy47w3DcaF  overflow-clip"
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>Don’t Miss Out</p>
        </div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l)" class="gkMHh-wM1s ">
      
    <div
      class="flex justify-center"
    >
      <div
        style="--w:90px;--w-tablet:90px;--w-mobile:90px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:#E0E0E0"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:90px;--w-tablet:90px;--w-mobile:90px;--bc:#E0E0E0;--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:90px;--w-tablet:90px;--w-mobile:90px;--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:90px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:90px;--w-tablet:90px;--w-mobile:90px;--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:90px"
    ></div>
  
      </div>
    </div>
  
      </div>{% render 'gp-section-486263458497561521-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant  %}
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-486263458497561521 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486263458497561521&template_id=482463146242475100)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
