
  
  
  <style>
    .gps-486375951375008983 .invisible{visibility:hidden}.gps-486375951375008983 .absolute{position:absolute}.gps-486375951375008983 .relative{position:relative}.gps-486375951375008983 .z-1{z-index:1}.gps-486375951375008983 .mx-auto{margin-left:auto;margin-right:auto}.gps-486375951375008983 .mb-0{margin-bottom:0}.gps-486375951375008983 .flex{display:flex}.gps-486375951375008983 .inline-flex{display:inline-flex}.gps-486375951375008983 .grid{display:grid}.gps-486375951375008983 .h-5{height:20px}.gps-486375951375008983 .h-full{height:100%}.gps-486375951375008983 .w-5{width:20px}.gps-486375951375008983 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-486375951375008983 .animate-spin{animation:spin 1s linear infinite}.gps-486375951375008983 .flex-col{flex-direction:column}.gps-486375951375008983 .items-center{align-items:center}.gps-486375951375008983 .justify-center{justify-content:center}.gps-486375951375008983 .gap-y-0{row-gap:0}.gps-486375951375008983 .overflow-hidden{overflow:hidden}.gps-486375951375008983 .break-words{overflow-wrap:break-word}.gps-486375951375008983 .rounded-none{border-radius:0}.gps-486375951375008983 .bg-g-brand{background-color:var(--g-c-brand)}.gps-486375951375008983 .text-g-text-3{color:var(--g-c-text-3)}.gps-486375951375008983 .no-underline{text-decoration-line:none}.gps-486375951375008983 .opacity-25{opacity:.25}.gps-486375951375008983 .opacity-75{opacity:.75}.gps-486375951375008983 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486375951375008983 .duration-200{transition-duration:.2s}.gps-486375951375008983 .duration-300{transition-duration:.3s}.gps-486375951375008983 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486375951375008983 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-486375951375008983 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-486375951375008983 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-486375951375008983 .disabled\:opacity-30:disabled{opacity:.3}.gps-486375951375008983 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-486375951375008983 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-486375951375008983 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-486375951375008983 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gbVvFDivHC"
        style="--pt:var(--g-s-m);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#604577;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbVvFDivHC mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="go8Ucd-qui relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gaAOcxr1qA"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaAOcxr1qA mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gJu-Gbqo8L relative flex flex-col"
    >
      <div
    
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <style>
    .gC5BFzxdcR.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      
    }

    .gC5BFzxdcR:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gC5BFzxdcR" aria-label="2250mg CBD Tincture"
      data-state="idle"
      class="gC5BFzxdcR gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--shadow:2.4492935982947064e-16px 4px 12px 0px rgba(0, 0, 0, 0.20);--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Poppins, Poppins);--weight:400;--lh:180%;--size:21px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        2250mg CBD Tincture
      </span>
    </button>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gYjTaUykeB relative flex flex-col"
    >
      <div
    
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <style>
    .gR4Cn7xp-h.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      
    }

    .gR4Cn7xp-h:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gR4Cn7xp-h" aria-label="2250mg CBD Tincture"
      data-state="idle"
      class="gR4Cn7xp-h gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--shadow:2.4492935982947064e-16px 4px 12px 0px rgba(0, 0, 0, 0.20);--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Poppins, Poppins);--weight:400;--lh:180%;--size:21px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        2250mg CBD Tincture
      </span>
    </button>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g59rT8dx1W relative flex flex-col"
    >
      <div
    
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <style>
    .gsq2pPpmfa.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      
    }

    .gsq2pPpmfa:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gsq2pPpmfa" aria-label="2250mg CBD Tincture"
      data-state="idle"
      class="gsq2pPpmfa gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--shadow:2.4492935982947064e-16px 4px 12px 0px rgba(0, 0, 0, 0.20);--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Poppins, Poppins);--weight:400;--lh:180%;--size:21px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        2250mg CBD Tincture
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-486375951375008983 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486375951375008983&template_id=482463146242475100)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
