
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Oswald:700,400,600|Poppins:500,700&display=swap');
      </style>
    
  <style>
    .gps-486263457306379479 .pointer-events-none{pointer-events:none}.gps-486263457306379479 .pointer-events-auto{pointer-events:auto}.gps-486263457306379479 .relative{position:relative}.gps-486263457306379479 .mx-auto{margin-left:auto;margin-right:auto}.gps-486263457306379479 .mb-0{margin-bottom:0}.gps-486263457306379479 .inline-block{display:inline-block}.gps-486263457306379479 .flex{display:flex}.gps-486263457306379479 .grid{display:grid}.gps-486263457306379479 .\!hidden{display:none!important}.gps-486263457306379479 .h-full{height:100%}.gps-486263457306379479 .w-full{width:100%}.gps-486263457306379479 .w-max{width:-moz-max-content;width:max-content}.gps-486263457306379479 .min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-486263457306379479 .\!max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-486263457306379479 .max-w-full{max-width:100%}.gps-486263457306379479 .flex-1{flex:1 1 0%}.gps-486263457306379479 .flex-col{flex-direction:column}.gps-486263457306379479 .flex-wrap{flex-wrap:wrap}.gps-486263457306379479 .gap-y-0{row-gap:0}.gps-486263457306379479 .overflow-hidden{overflow:hidden}.gps-486263457306379479 .overflow-clip{overflow:clip}.gps-486263457306379479 .text-center{text-align:center}.gps-486263457306379479 .align-middle{vertical-align:middle}.gps-486263457306379479 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-486263457306379479 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486263457306379479 .duration-200{transition-duration:.2s}.gps-486263457306379479 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486263457306379479 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-486263457306379479 .\[\&_p\]\:inline p{display:inline}.gps-486263457306379479 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-486263457306379479 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g33sneqI4h"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:15px;--pb:var(--g-s-m);--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#101010;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g33sneqI4h mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4_7zTX581 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gKfQM1GzEk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKfQM1GzEk mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g9iVqOhPgh relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gLj6CMcY9a"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLj6CMcY9a mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gE_JvjoXVD relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gvG-DYe66I  overflow-clip"
        style="--tt:default;--ta:right;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-s)"
      >
      <div class="flex" style="--jc:right;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Oswald, Oswald);--weight:700;--ls:normal;--lh:150%;--size:23px;--size-tablet:23px;--size-mobile:20px;word-break:break-word"
        >
        <p>BLACK FRIDAY OFFERS</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g5TEI9xvZn relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gELEF_uFYV"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:1px;--w-tablet:1px;--w-mobile:1px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-4d648c41-3346-4b9f-92a9-154a202308a1.png" | asset_url }}" data-srcset="{{ '432750572815254551-4d648c41-3346-4b9f-92a9-154a202308a1.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-4d648c41-3346-4b9f-92a9-154a202308a1.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-4d648c41-3346-4b9f-92a9-154a202308a1.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1" height="40" alt="Alt Image" priority
    sizes="100vw"
    style="--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="goO3G0nKeV relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gMH4vwMDzQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-s);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMH4vwMDzQ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-pMtJAZZq relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gFb3d1M7wX  overflow-clip"
        style="--tt:default;--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xs)"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;word-break:break-word"
        >
        <p>Free Shipping orders over $85</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gVr-yv-EQn  overflow-clip"
        style="--tt:default;--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;word-break:break-word"
        >
        <p>Save up to 35% &nbsp;+ Freebies!</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-yuIg83XP relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gyt9yVhLGm ">
      
    <gp-countdown-timer
     class="flex "
     gp-data='{"behaviour":"standard","dateStandard":"2023-11-17T21:59:51.483Z","dayLabel":"DAYS","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","minuteLabel":"MINS","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"SECS","timeZone":"UTC-8","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1685093631483,"hours":3,"mins":0,"startTime":1685082831483},"weekLabel":"Weeks"}'
     style="--jc:left;--jc-mobile:center"
     >
      <div id="section-countdown" class="flex flex-wrap w-max !hidden" style="gap:var(--g-s-m);--jc:left;--jc-mobile:center">
           
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="day"
        class="  overflow-clip"
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Oswald, Oswald);--weight:600;--ls:normal;--lh:130%;--size:20px;--size-tablet:23px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class="  overflow-clip"
        style="--c:#B4B4B4"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Oswald, Oswald);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#727272;word-break:break-word"
        >
        DAYS
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="hour"
        class="  overflow-clip"
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Oswald, Oswald);--weight:600;--ls:normal;--lh:130%;--size:20px;--size-tablet:23px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class="  overflow-clip"
        style="--c:#B4B4B4"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Oswald, Oswald);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#727272;word-break:break-word"
        >
        HRS
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="minute"
        class="  overflow-clip"
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Oswald, Oswald);--weight:600;--ls:normal;--lh:130%;--size:20px;--size-tablet:23px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class="  overflow-clip"
        style="--c:#B4B4B4"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Oswald, Oswald);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#727272;word-break:break-word"
        >
        MINS
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:8px;--pr:8px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="second"
        class="  overflow-clip"
        style="--c:var(--g-c-bg-3, bg-3)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Oswald, Oswald);--weight:600;--ls:normal;--lh:130%;--size:20px;--size-tablet:23px;--size-mobile:20px;--c:#FFFFFF;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class="  overflow-clip"
        style="--c:#B4B4B4"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Oswald, Oswald);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#727272;word-break:break-word"
        >
        SECS
        </div>
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-countdown.js" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-486263457306379479 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486263457306379479&template_id=482463146242475100)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
