
  
  
  <style>
    .gps-486271895524607191 .relative{position:relative}.gps-486271895524607191 .mx-auto{margin-left:auto;margin-right:auto}.gps-486271895524607191 .mb-0{margin-bottom:0}.gps-486271895524607191 .flex{display:flex}.gps-486271895524607191 .grid{display:grid}.gps-486271895524607191 .max-w-full{max-width:100%}.gps-486271895524607191 .flex-col{flex-direction:column}.gps-486271895524607191 .gap-y-0{row-gap:0}.gps-486271895524607191 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486271895524607191 .duration-200{transition-duration:.2s}.gps-486271895524607191 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486271895524607191 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gUfFgyxEpk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--pt:var(--g-s-xl);--pl:15px;--pb:var(--g-s-xl);--pr:15px;--pt-mobile:40px;--pl-mobile:15px;--pb-mobile:40px;--pr-mobile:15px;--pt-tablet:25px;--pl-tablet:15px;--pb-tablet:25px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUfFgyxEpk mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_5e4acC6z relative flex flex-col"
    >
      
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-486271895524607191 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486271895524607191&template_id=482463146242475100)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
